{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% block content %}

<section class="data-listing">
    <div class="data-container">
        <div class="section-heading">
            <h1>Virus Database</h1>
            <p>HEV DB is a curated database for Hepahi E virus sequences.
                The data are collected from NCBI and filtered to include whole genome sequences of the viruses </p>
        </div>

    {% if messages|length > 0 %}
        <br/>
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
                {% if message.level_tag == 'error' %}
                    <div class="alert alert-danger">
                       {{ message }}
                    </div>
                {% elif message.level_tag == 'warn' %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% elif message.level_tag == 'success' %}
                    <div class="alert alert-success">
                       {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                       {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
        <form method="GET" action="{% url 'loadfile:index' %}" class="form-inline row input-group display-flexrow" id="search">

            <input class="inputstyle" type="text" placeholder="Search Genebank ID" name="genebank_id">
            <input class="inputstyle" type="text" placeholder="Search Title" name="title">

            <select id="country_id" style="" name="country" title="country">
                <option>Select</option>
                {% for code, name in country_list %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>

            <span class="input-group-btn " id="inputbutton">
                <button type="submit" class="btn btn-primary" id="butn">Search</button>
            </span>
        {% if object and obj == 2 %}
             <div class="export-container">
                <a class="export-btn" href="{% querystring '_export'='xlsx' %}" >XLSX</a>
            </div>
         {% endif %}
        </form>
        {% if object and obj == 2 %}
        {% render_table export_obj %}

        {% elif not object and obj == 1 %}
            <div class="jumbotron text-center" style="margin-top: 2rem">
                <i  style="font-size: 10rem; margin-bottom: 1rem" class="far fa-frown"></i>
                <h3 class="mb-4">No Result Found</h3>
            </div>
        {% else %}
        {% render_table export_obj %}

        {% endif %}
    </div>
</section>
{% include 'loadfile/modal_large.html' %}

{% endblock %}