<div class="modal fade" id="popUpModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document"  style="max-width: 90%">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-title"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body" id="modal-body" align="left">

						</div>
						<div class="modal-footer" id="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
</div>
