{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% block content %}

<section class="data-listing">
    <div class="data-container">
        <div class="section-heading">
            <h1>Virus Database</h1>
            <p>HEV DB is a curated database for Hepahi E virus sequences.
                The data are collected from NCBI and filtered to include whole genome sequences of the viruses </p>
        </div>

        <form method="POST" action="{% url 'loadfile:search' %}" class="form-inline row input-group display-flexcol" id="search">
        {% csrf_token %}
        {% if req == 'GET'%}
            <div class="input-field">
                <label>Genebank ID</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="genebank_id">
            </div>

            <div class="input-field">
                <label>Version</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="version">
            </div>

            <div class="input-field">
                <label>Taxa ID</label>&nbsp;&nbsp;
                <input class="inputstyle" type="number" name="taxa_id">
            </div>

            <div class="input-field">
                <label style="width: 250px">Slen</label>&nbsp;&nbsp;
                <span style="margin-right: 1rem">From</span>
                <input class="inputstyle" type="text" name="selnstart">
                <span style="margin-right: 1rem">To</span>
                <input class="inputstyle" type="number" name="selnend">
            </div>

            <div class="input-field">
                <label>Title</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="title">
            </div>

            <div class="input-field">
                <label style="width: 250px">Collection Date</label>&nbsp;&nbsp;
                <span style="margin-right: 1rem">From</span>
                <input class="inputstyle" type="text" id="from" name="collection_year_from">
                <span style="margin-right: 1rem">To</span>
                <input class="inputstyle" type="text" id="to" name="collection_year_to">
            </div>

            <div class="input-field">
                <label>Strain</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="strain">
            </div>

            <div class="input-field">
                <label>Isolate</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="isolate">
            </div>

            <div class="input-field">
                <label style="width: 250px">Create Date</label>&nbsp;&nbsp;
                <span style="margin-right: 1rem">From</span>
                <input class="inputstyle" type="text" id="fromcreate" name="create_date_from">
                <span style="margin-right: 1rem">To</span>
                <input class="inputstyle" type="text" id="tocreate" name="create_date_to">
            </div>

            <div class="input-field">
                <label style="width: 250px">Update Date</label>&nbsp;&nbsp;
                <span style="margin-right: 1rem">From</span>
                <input class="inputstyle" type="text" id="fromupdate" name="update_date_from">
                <span style="margin-right: 1rem">To</span>
                <input class="inputstyle" type="text" id="toupdate" name="update_date_to">
            </div>

            <div class="input-field">
                <label>Continent</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="continent">
            </div>
             <div class="input-field">
                <label>Country</label>&nbsp;&nbsp;
                <select id="country_id" style="" name="country" title="country">
                <option>Select</option>
                {% for code, name in country_list %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="input-field">
                <label>City</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="city">
            </div>

            <div class="input-field">
                <label>Host</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="host">
            </div>

            <div class="input-field">
                <label>Source Database</label>&nbsp;&nbsp;
                <input class="inputstyle" type="text" name="source_db">
            </div>


            <span class="input-group-btn " id="inputbutton1">
                <button type="submit" class="btn btn-primary" name="search" id="butn1">Search</button>
            </span>
       {% else %}
            {% if object and obj %}
                <span class="input-group-btn " id="inputbutton">
                    <button type="submit" class="btn btn-primary" name="xlsx" id="butn">xlsx</button>
                </span>
                <input type="hidden" name="kwargs" value="{{ kwargs }}">
                {% render_table export_obj 'loadfile/table.html' %}
            {% else %}
                <div class="jumbotron text-center" style="margin-top: 2rem">
                    <i style="font-size: 10rem; margin-bottom: 1rem" class="far fa-frown"></i>
                    <h3 class="mb-4">No Result Found</h3>
                </div>
            {% endif %}
        {% endif %}
        </form>
    </div>
</section>
{% include 'loadfile/modal_large.html' %}


{% endblock %}
