{% spaceless %}
    {% load django_tables2 %}
    {% load i18n %}
    {% if table.page %}
        <div class="row-fluid" align="center" style="width: 100%; margin-top: 1rem">
    {% endif %}


{% block table %}
    <table {% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>

        {% block table.thead %}
            <thead>
            <tr>
                {% for column in table.columns %}
                    {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a
                                href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                        </th>
                    {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
        {% endblock table.thead %}
        {% block table.tbody %}
            <tbody>
            {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                {% block table.tbody.row %}
                    <tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }}">
                        {# avoid cycle for Django 1.2-1.6 compatibility #}
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>
                                {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}
                                    {{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endblock table.tbody.row %}
            {% empty %}
                {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                        <tr>
                            <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                        </tr>
                    {% endblock table.tbody.empty_text %}
                {% endif %}
            {% endfor %}
            </tbody>
        {% endblock table.tbody %}
        {% block table.tfoot %}
            <tfoot></tfoot>
        {% endblock table.tfoot %}

    </table>
{% endblock table %}

{% with table.page.paginator.count as total %}
    {% with table.page.object_list|length as count %}
        {% block pagination %}
            <ul class="pagination">
                {% if table.page.has_previous %}
                    {% block pagination.first %}
                        <li class="first">
                            <button class="btn btn-primary" type="submit" name="page"
                                    value="{% querystring table.prefixed_page_field=1 %}"><span
                                    title="{% trans " First Page " %}"> {% trans " << " %} </span></button>
                        </li>&nbsp {% endblock pagination.first %}
                    {% block pagination.previous %}
                        <li class="previous">
                            <button class="btn btn-primary" name="page" type="submit"
                                    value="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"><span
                                    title="{% trans "Previous Page" %}">{% trans " < " %}</span></button>
                        </li>&nbsp
                    {% endblock pagination.previous %}
                {% endif %}

                {% if table.page.has_previous or table.page.has_next %}
                    {% block pagination.current %}
                        <li class="current">
                            {% blocktrans with table.page.number as current and table.paginator.num_pages as total %}
                                &nbsp Page {{ current }} of &nbsp
                                {{ total }} &nbsp {% endblocktrans %}</li>{% endblock pagination.current %}
                {% endif %}

                {% if table.page.has_next %}
                    {% block pagination.next %}
                        <li class="next">
                            <button class="btn btn-primary" type="submit" name="page"
                                    value="{% querystring table.prefixed_page_field=table.page.next_page_number %}"><span
                                    title="{% trans "Next Page" %}">{% trans " > " %}</span></button>
                        </li>&nbsp
                    {% endblock pagination.next %}
                    {% block pagination.last %}
                        <li class="last">
                            <button class="btn btn-primary" type="submit" name="page"
                                    value="{% querystring table.prefixed_page_field=table.paginator.num_pages %}"><span
                                    title="{% trans "Last Page" %} "> {% trans " >> " %}</span></button>
                        </li>&nbsp
                    {% endblock pagination.last %}
                {% endif %}

            </ul>
        {% endblock pagination %}
    {% endwith %}
{% endwith %}



{% if table.page %}
    </div>
{% endif %}

{% endspaceless %}