<h1>Virus Database Run Guide</h1>

<h3>You need Python >= 3.5 to run this system</h3>

<ol>
<li>Download the lastest repo from <a href="https://bitbucket.org/SHGP-Bioinformatics/virus-datebase/downloads/?tab=tags">https://bitbucket.org/SHGP-Bioinformatics/virus-datebase/downloads/?tab=tags</a></li>
<li>Extract the downloaded archive</li>
<li><p>on the terminal, go to the extracted data</p>

<h5>Install Virtualenv (if not installed)</h5>

<p>~/virus-datebase$ python3 -m pip install virtualenv </p>

<h5>Create your venv using this command:</h5>

<p>~/virus-datebase$ virtualenv --python python3 env  </p>

<h5>Activate the virtualenv</h5>

<p>~/virus-datebase$ source env/bin/activate    </p>

<h4>Install requirements</h4>

<p>~/virus-datebase$ pip install -r requirements.txt</p>

<h5>Run server to use site features (search in Database, export search result as excel file)</h5>

<p>~/virus-datebase$ python manage.py runserver</p></li>
</ol>

<p>Open a browser (Firefox or Chrome) and go to "<a href="http://localhost:8000/">http://localhost:8000/</a>"</p>
