
.inputstyle {
        margin-right: 1rem;
    line-height: 28px;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: .5rem;
    background-image: linear-gradient(#eee 20%,#fff 80%);
    box-shadow: 0 1px 0 #fff inset;
}
table {
    width: 100%;
    border-spacing: 15px;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
}

table, th, td {
  background-color: #fff;
  border-collapse: collapse;

  text-align: center;
}
th, td{
    padding: 0.7rem 0.2rem;
    border: 1px solid rgba(70, 142, 254, 0.31);

}
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body,html {
      margin: 0;
        font-family: 'Roboto Condensed', sans-serif;

}

*{
      box-sizing: border-box;

}
h1 {
  maring:0;
}

.data-listing{
    display: flex;
    flex-flow: column;
    padding: 1rem;
}
.data-container {
  background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}
.section-heading {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  /*background-image: linear-gradient(to right, #448fff , #8968cc);*/
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.form-inline  {
    padding: 1rem 0;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.chosen-container{
    font-size: 15px;
    margin-right: 0.5rem;
}

.chosen-container-single .chosen-single{
    padding: 0 0 0 8px;
    height: 45px;
    border: 1px solid #aaa;
    border-radius: 5px;
    line-height: 44px;
}
#inputbutton #butn {
    font-size: 13px;
    line-height: 44px;
    border-radius: 5px;
    margin: 0rem 1rem;
    background-image: linear-gradient(to right, #448fff , #8968cc);
    color: #fff;
    font-weight: 900;
    padding: 0rem 1.5rem;
    border-radius: 3rem;
  border: none;
}

.row-fluid{
    margin-top: .5rem;
    width: 100%;
}

.container {
position: relative;
    padding-left: 19px;
    margin-bottom: 19px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 19px;
    width: 19px;
    margin: auto;
    background-color: #c7c7c7;
    text-align: center;
    box-shadow: 0px 0px 3px #d0d0d0;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pagination {
      padding-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.pagination a {
      background-color: #c7c7c7;
    padding: 0.5rem 1rem;
    border-radius: 5rem;

    text-decoration: none;
    background-image: linear-gradient(to right, #448fff , #8968cc);
    color: #fff;
    margin: 0rem 0.3rem;
  transition: all 200ms;
}
.pagination a:hover{
      background-image: linear-gradient(to right, #8968cc , #448fff);

  transition: all 200ms;
}
.hidden{
    display: none;
}
.export-btn{
   font-size: 13px;
    line-height: 44px;
    /* margin: 0rem 1rem; */
    color: #5485f3;
    padding: 0rem 1.5rem;
    border-radius: 3rem;
    border: none;
    text-decoration: none;
    font-weight: 200;
    background-color: #fff;
    display: flex;
}
.export-container{
    background-image: linear-gradient(to right, #448fff , #8968cc);
    padding: 1px;
    border-radius: 3rem;
    display: inline-block;
    margin: 0.5rem 0;
}


.form-inline{
    margin:auto;
}
.padding-2rem {
    padding-left: 2rem;
    padding-right: 2rem;
}
.form-inline.display-flexcol{
       flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.form-inline.display-flexcol .input-field {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.form-inline.display-flexcol  label {
    width: 300px;
    text-align: left;
    justify-content: right;
}
.form-inline.display-flexcol .input-field  input ,
.form-inline.display-flexcol .input-field  select
{
    width: 300px;

}
.modal-list{
  list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: start;
    text-align: left;
}
.modal-list li {
  display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ececec;


}
.modal-list b {
        min-width: 168px;
    display: inline-block;
    text-align: initial;

}
#myModal{
        overflow: hidden;
}

#myModal .modal-dialog{
        max-height: 87%;
    position: relative;
    display: flex;
}
#myModal .modal-content {
        overflow-y: scroll;
    height: auto;
}
.table-container {
    width: 100%;
    margin-top: 0.5rem;
}