{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light padding-2rem">
  <a class="navbar-brand" href="{% url 'loadfile:index' %}">Virus Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'loadfile:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'loadfile:search' %}">Search</a>
      </li>
    </ul>
  </div>
</nav>